# Dependencies
node_modules
.pnp
.pnp.js

# Build output
.next
out
dist
build

# Environment
.env
.env.local
.env.production
.env.development

# DB
*.db
*.db-shm
*.db-wal
drizzle/*.sql

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.swp

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# TypeScript incremental build cache
*.tsbuildinfo
next-env.d.ts
